<div>
    <a [routerLink]="['/portfolio']">
        <button mat-flat-button color="primary">Voltar</button>
    </a>
    <ng-container *ngIf="loading">
        <div class="loading">
            <mat-spinner></mat-spinner>
        </div>
    </ng-container>
    <ng-container *ngIf="!loading">
        <h3 class="my-3">{{ investment.financialProduct.name }}</h3>
        <div class="container d-flex flex-row">
            <div class="d-flex flex-column col-md-4">
                <p>Data de aplicação</p>
                <p>{{ investment.applicationDate | date : 'short' }}</p>
            </div>

            <div class="d-flex flex-column col-md-4">
                <p>Valor inicial</p>
                <p>R$ {{ investment.initialValue | number : '1.2-2' }}</p>
            </div>

            <div class="d-flex flex-column col-md-4">
                <p>Data de resgate</p>
                <p *ngIf="investment.redemptionDate">{{ investment.redemptionDate }}</p>
                <p *ngIf="!investment.redemptionDate">Não resgatado</p>
            </div>
        </div>
        <h3 class="my-3">Valores</h3>
        <div class="d-flex flex-row justify-content-between" *ngFor="let evaluation of investment.evaluations">
            <p>{{ evaluation.alias }}</p>
            <p>R$ {{ evaluation.value | number : '1.2-2' }}</p>
        </div>
        <mat-divider class="my-3"></mat-divider>
        <div class="d-flex flex-row justify-content-between">
            <p>Valor atual</p>
            <p>R$ {{ investment.currentValue | number : '1.2-2' }}</p>
        </div>
    </ng-container>
</div>