@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://www.linkedin.com/in/willian-silva-71000b90/" target="_blank" class="ml-md-auto">Sobre</a>
        </div>

        <div class="content px-4">
            @Body
            <MatToastContainer />
        </div>
    </div>
</div>
