@model Aliquota.Domain.Models.TipoProdutoFinanceiro

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Tem certeza de que quer excluir?</h3>
<div>
    <h4>TipoProdutoFinanceiro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PorcentagemLucro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PorcentagemLucro)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Retornar</a>
    </form>
</div>
