@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá</h1>

    <p>Esta é uma solução simples utilizando a arquitetura MVC para testar a API desenvolvida.</p>
</div>
