@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div>
    <p>
        <a asp-action="ViewInvestments">
            <input type="submit" value="Voltar" class="btn btn-default" style="border-radius:3px" />
        </a>
    </p>
</div>
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">@Model.Message</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

