@model Aliquota.Domain.Models.Aplicacao

@{
    ViewData["Title"] = "Nova Aplicação";
}

<h1>Nova Aplicação</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxaLucro" class="control-label"></label>
                <input asp-for="TaxaLucro" class="form-control" />
                <span asp-validation-for="TaxaLucro" class="text-danger"></span>
            </div>
            <div class="form-group">
                @foreach (var value in Enum.GetValues(typeof(Aliquota.Domain.Models.Aplicacao.Periodicidades)))
                {
                    @Html.RadioButtonFor(p => p.Periodicidade, value)
                    @Html.Label(value.ToString())
                }
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId" disabled></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AplicacaoIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
