@model Aliquota.Domain.Entities.DTO.ProdutoDto

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdTipoProduto" class="control-label"></label>
                <select asp-for="IdTipoProduto" class="form-control" asp-items="ViewBag.IdTipoProduto"></select>
                <span asp-validation-for="IdTipoProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSituacaoProduto" class="control-label"></label>
                <select asp-for="IdSituacaoProduto" class="form-control" asp-items="ViewBag.IdSituacaoProduto"></select>
                <span asp-validation-for="IdSituacaoProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <select asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente"></select>
                <span asp-validation-for="IdCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorInvestido" class="control-label"></label>
                <input asp-for="ValorInvestido" class="form-control" />
                <span asp-validation-for="ValorInvestido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorAtual" class="control-label"></label>
                <input asp-for="ValorAtual" class="form-control" />
                <span asp-validation-for="ValorAtual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorResgatado" class="control-label"></label>
                <input asp-for="ValorResgatado" class="form-control" />
                <span asp-validation-for="ValorResgatado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInvestimento" class="control-label"></label>
                <input asp-for="DataInvestimento" class="form-control" />
                <span asp-validation-for="DataInvestimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataResgate" class="control-label"></label>
                <input asp-for="DataResgate" class="form-control" />
                <span asp-validation-for="DataResgate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
