@{
}
<br />
<h3 style="text-align: center">Welcome to Test Investments!</h3>
<br />
<p>
    Here you can simulate multiple investments and the amount of money you will receive based on the time that your application has! <br />
    We work with this fluxogram:
</p>
<ul>
    <li>Until 1 year of investment: We receive 22,5% amount of profit, the initial amount and the restant of profit is yours!</li>
    <li>Between 1 to 2 years of investment: We receive 18,5% amount of profit.</li>
    <li>After 2 years: We receive 15% amount of profit.</li>
    <li>Your initial amount cannot be below or equals zero</li>
</ul>
<br />
<div style="text-align:center">
    <a asp-action="Add"> <input type="submit" value="Add an investment!" class="btn btn-danger" style="border-radius:4px"/> </a>
    
</div>
<br />
<div style="text-align:center">
    <a asp-action="ViewInvestments"> <input type="submit" value="Consult all investments!" class="btn btn-success" style="border-radius:4px"/> </a>
</div>
<br />

<ul>
    <li>Your profit is based on Compound Interest</li>
    <li>The value of profit per month is 5% of the value of the last month</li>
    <li>We assure that everything here is just for test purposing and the rates are subject to changes.</li>
</ul>


