@{
}
<br />
<h3 style="text-align: center">Welcome to Test Investments!</h3>
<br />
<p>
    Here you can simulate multiple investments and the amount of money you will receive based on the time that your application has! <br />
    We work with this fluxogram:
</p>
<ul>
    <li>Until 1 year of investment: We receive 22,5% amount of profit, the initial amount and the restant of profit is yours!</li>
    <li>Between 1 to 2 years of investment: We receive 18,5% amount of profit.</li>
    <li>After 2 years: We receive 15% amount of profit.</li>
    <li>Your initial amount cannot be below or equals zero</li>
</ul>
<br />
<div style="text-align:center">
    <a asp-action="Add"> <input type="submit" value="Adicionar um investimento!" class="btn btn-danger" /> </a>
    
</div>
<br />
<div style="text-align:center">
    <input type="submit" value="Consultar investimentos!" class="btn btn-success" />
</div>
<br />
<p>
    *We assure that everything here is just for test purposing.
</p>

