@model Aliquota.Domain.Models.ViewModelRemove
@{
    int monthsQuantity = ((DateTime.Now.Month - @Model.ActualInvestment.DayOfInvestment.Month) + ((DateTime.Now.Year - Model.ActualInvestment.DayOfInvestment.Year) * 12));
    double initialAmount = Model.ActualInvestment.InitialAmount;
    double actualProfit = initialAmount;
    for (int i = 0; i < monthsQuantity; i++)
    {
        actualProfit = actualProfit + actualProfit * 0.05;
    }
    actualProfit -= initialAmount;
    int years = monthsQuantity / 12;
}

<div>
    <p>
        <a asp-action="ViewInvestments">
            <input type="submit" value="Voltar" class="btn btn-default" style="border-radius:3px" />
        </a>
    </p>
</div>
<br />
<h1 style="text-align:center">SIMULATE A DATE DO REMOVE INVESTMENT</h1>
<form asp-action="ConfirmRemove">
    <p>Please select a date: </p>
    <input type="date" asp-for="ActualDate"/>
    <input type="hidden" asp-for="ActualInvestment.Id" />
    <br />
    <br />
    <div>
        <input type="submit" class="btn btn-success" value="Simulate!" style="border-radius:4px" />
    </div>
</form>




