@model Aliquota.Domain.Models.CadastroInvestidor

@{
    ViewData["Title"] = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cadastro</h1>

<h4>CadastroInvestidor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CadastroInvestidor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            @foreach (var item in ViewBag.Aplicacao)
            {
                <div class="form-group">
                <label class="control-label">Nome da Aplicacao</label>
                <select class="form-control">
                    <option>@item.NomeAplicacao</option>
                </select>
                </div>
            } 
            <div class="form-group">
                <label asp-for="ValorAplicacao" class="control-label"></label>
                <input asp-for="ValorAplicacao" class="form-control" />
                <span asp-validation-for="ValorAplicacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAplicacao" class="control-label"></label>
                <input asp-for="DataAplicacao" class="form-control" />
                <span asp-validation-for="DataAplicacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataResgate" class="control-label"></label>
                <input asp-for="DataResgate" class="form-control" />
                <span asp-validation-for="DataResgate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
