@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Aplicações Financeiras</h1>
    <p>Clique neste <a asp-controller="Home" asp-action="Cadastro">link</a> para realizar a simulação de Aplicação Financeira.</p>
</div>
