@model Aliquota.Domain.Models.ResultadoFinanceiro

@{
    ViewData["Title"] = "Dados da Aplicação Financeira";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Demonstrativo da Aplicação Financeira</h1>

<div>
    <hr />
    
    <div class="col-md-4">
        <form asp-action="Editar" asp-controller="Home">          
            <div class="form-group">
                <label asp-for="DataAplicacao" class="control-label"></label>
                <input asp-for="DataAplicacao" class="form-control" readOnly />
            </div>
        
            <div class="form-group">
                <label asp-for="DataResgate" class="control-label"></label>
                <input asp-for="DataResgate" class="form-control" readOnly />
            </div>
        
            <div class="form-group">
                <label asp-for="ValorAplicado" class="control-label"></label>
                <input asp-for="ValorAplicado" class="form-control" readOnly />
            </div>
        
            <div class="form-group">
                <label asp-for="ValorRendimento" class="control-label"></label>
                <input asp-for="ValorRendimento" class="form-control" readOnly />
            </div>
        
            <div class="form-group">
                <label asp-for="TaxaIRAplicada" class="control-label"></label>
                <input asp-for="TaxaIRAplicada" class="form-control" readOnly />
            </div>

            <div class="form-group">
                <label asp-for="ImpostoDevido" class="control-label"></label>
                <input asp-for="ImpostoDevido" class="form-control" readOnly />
            </div>

            <div class="form-group">
                <label asp-for="LucroReal" class="control-label"></label>
                <input asp-for="LucroReal" class="form-control" readOnly />
            </div>
            
            <div style="margin-top:25px;">
                <a asp-action="Cadastro" class="btn btn-success" value="Volar">Voltar</a>
                <input type="submit" value="Alterar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

