
@model Aliquota.Domain.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="productName" class="control-label"></label>
                <input asp-for="productName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="productInvestment" class="control-label"></label>
                <input asp-for="productInvestment" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="dateApplication" class="control-label"></label>
                <input asp-for="dateApplication" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="dateRescue" class="control-label"></label>
                <input asp-for="dateRescue" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Client" class="control-label"></label>
                <input asp-for="Client" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />

            </div>
        </form>
    </div>
</div>

