
@model Aliquota.Domain.Models.ViewsModels.ProductFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Title"]</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-form="Product.productId" />
            <div class="form-group">
                <label asp-for="Product.productName" class="control-label"></label>
                <input asp-for="Product.productName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Product.productInvestment" class="control-label"></label>
                <input asp-for="Product.productInvestment" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Product.dateApplication" class="control-label"></label>
                <input asp-for="Product.dateApplication" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Product.dateRescue" class="control-label"></label>
                <input asp-for="Product.dateRescue" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Product.Client" class="control-label"></label>
                <input asp-for="Product.Client" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-fpr="Product.ClientId" class="control-label"></label>
                <select asp-for="Product.ClientId" asp-items="@(new SelectList(Model.Clients, "clientId", "clientName"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />

            </div>
        </form>
    </div>
</div>

