@model Income.Tax.Willian.Santos.Kinvo.Domain.DTOs.ApplicationITDTO

@{
    ViewData["Title"] = "RescueApplication";
}

<h1>Recuperar valor aplicado</h1>

<h4>Preencha as opções abaixo:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RescueApplication">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContributionTime" class="control-label"></label>
                <input asp-for="ContributionTime" class="form-control" />
                <span asp-validation-for="ContributionTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
