<ng-container *ngIf="loading" class="loading">
    <mat-spinner></mat-spinner>
</ng-container>
<ng-container *ngIf="!loading">
    <mat-card class="border border-primary my-3">
        <div class="d-flex flex-row justify-content-around">
            <div class="d-flex flex-column justify-content-center">
                <h4>Saldo investido</h4>
                <p>R$ {{ totalInvested | number : '1.2-2' }}</p>
            </div>
            <div class="d-flex flex-column justify-content-center">
                <h4>Saldo disponível</h4>
                <p>R$ {{ portfolio.balance | number : '1.2-2' }}</p>
            </div>
        </div>
    </mat-card>
    <div class="d-flex flex-column">
        <h3>Meus investimentos</h3>
        <mat-card *ngFor="let investment of portfolio.investments" class="my-1">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <p>{{ investment.financialProduct.name }}</p>
                <p>Valor inicial: R$ {{ investment.initialValue | number : '1.2-2' }} </p>
                <a [routerLink]="['/investments', investment.id ]">
                    <button mat-stroked-button color="primary">Consultar ou resgatar</button>
                </a>
            </div>
        </mat-card>
    </div>
</ng-container>