@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Candidato: @ViewData["Candidato"]</p>

<address>
    <strong>Github: </strong> <a href="www.github.com/leonamxd"> leonamxd </a>
</address>
