@model Aliquota.Domain.Models.Application

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ApplicationID" />
            <div class="form-group">
                <label asp-for="ApplicationValue" class="control-label"></label>
                <input asp-for="ApplicationValue" class="form-control" />
                <span asp-validation-for="ApplicationValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationDate" class="control-label"></label>
                <input asp-for="ApplicationDate" class="form-control" />
                <span asp-validation-for="ApplicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationRescue" class="control-label"></label>
                <input asp-for="ApplicationRescue" class="form-control" />
                <span asp-validation-for="ApplicationRescue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
