@page "/timeMachine"
@using Aliquota.Domain.Entities.Models
@using Aliquota.Domain.UseCases.ProductMovement
@using Aliquota.Website.Blazor.Data
<h3>Aqui você pode simular compras de Bitcoin no passado</h3>


<EditForm Model="@move" OnValidSubmit="@HandleValidSubmit" >
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <InputDate @bind-Value="move.DateTime" DisplayName="Quando foi feito"/>
    <InputNumber @bind-Value=move.Price DisplayName="Preço"/>
    <InputNumber @bind-Value=move.Amount DisplayName="Quantia" />
    
    <button type="submit" @onclick="onclick" class="btn btn-success">Submit</button>
</EditForm>

@code {
    private FakeProductMove move = new FakeProductMove();
    public FinanceProduct USD = Program.databaseAdapter.DatabaseDriver.GetFinanceProductByName("USD");
    User user = Program.databaseAdapter.DatabaseDriver.GetUserById(1);
    
    private void onclick()
    {
        move.User = user;
        move.FinanceProduct = USD;
    }

    private void HandleValidSubmit()
    {
        MakeFinanceProductMove.BuyFinanceProduct(user, 200, USD, Program.databaseAdapter);
    }
}
