@page
@model Aliquota.Domain.Web.Pages.DeleteModel
@{
    ViewData["Title"] = "Excluir Aplicação";
}

<form method="post">
    <input asp-for="applicationGet.Id" hidden />

    <div class="container border p-0 shadow">
        <div class="container my-3">
            <div class="row justify-content-center mb-3 ">
                <div class="col-auto">
                    <h1 class="text-danger font-weight-bold">@ViewData["Title"]?</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">

                    <div class="row mx-1">
                        <div class="col">
                            <div class="form-group row">
                                <label asp-for="applicationGet.InvestedValue"></label>
                                <input asp-for="applicationGet.InvestedValue" class="form-control w-auto mx-1" readonly>
                            </div>
                            <div class="form-group row">
                                <label asp-for="applicationGet.ProfitValue"></label>
                                <input asp-for="applicationGet.ProfitValue" class="form-control w-auto mx-1" readonly>
                            </div>
                            <div class="form-group row">
                                <label asp-for="applicationGet.TotalValue"></label>
                                <input asp-for="applicationGet.TotalValue" class="form-control w-auto mx-1" readonly>
                            </div>
                            <div class="form-group row">
                                <label asp-for="applicationGet.WithholdedValue"></label>
                                <input asp-for="applicationGet.WithholdedValue" class="form-control w-auto mx-1" readonly>
                            </div>
                            <div class="form-group row">
                                <label asp-for="applicationGet.MonthlyInterestRate"></label>
                                <input asp-for="applicationGet.MonthlyInterestRate" class="form-control w-auto mx-1" readonly>
                            </div>
                            <div class="form-group row">
                                <label asp-for="applicationGet.ExpectedMonthlyPeriod"></label>
                                <input asp-for="applicationGet.ExpectedMonthlyPeriod" class="form-control w-auto mx-1" readonly>
                            </div>
                            <div class="form-group row">
                                <label asp-for="applicationGet.ApplyDate"></label>
                                <input asp-for="applicationGet.ApplyDate" class="form-control w-auto mx-1" readonly>
                            </div>
                            <div class="form-group row">
                                <label asp-for="applicationGet.WithdrawDate"></label>
                                <input asp-for="applicationGet.WithdrawDate" class="form-control w-auto mx-1" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mt-3 justify-content-center">
                        <div class="col-auto">
                            <input class="btn btn-success m-1 w-auto" type="submit" value="Confirmar" />
                        </div>
                        <div class="col-auto">
                            <a asp-page="Index" class="btn btn-danger m-1 w-auto">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
