<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/open-iconic-master/font/css/open-iconic-bootstrap.min.css" />
</head>
<body>
    <div class="container mt-2">
        <div class="row justify-content-center flex-md-row flex-column">
            <div class="col-auto">
                <header>
                    <div class="nav bg-white border shadow flex-md-column mb-4 d-inline-flex">
                        <div class="d-flex nav-item m-1">
                            <a class="nav-link text-dark" asp-area="" asp-page="Index"><span data-toggle="tooltip" title="Lista" class="oi oi-list text-primary"></span></a>
                        </div>
                        <div class="d-flex nav-item m-1">
                            <a class="nav-link text-dark" asp-area="" asp-page="New"><span data-toggle="tooltip" title="Nova Aplicação" class="oi oi-plus text-success"></span></a>
                        </div>
                    </div>
                </header>
            </div>
            <div class="col-auto">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Aliquota
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
