<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Aliquota.Website.Blazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="wallet" Match="NavLinkMatch.All">
                <span class="oi oi-dollar" aria-hidden="true"></span> Carteira
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="trade">
                <span class="oi oi-plus" aria-hidden="true"></span> Trade
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="free-money">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Gerar Dinheiro
            </NavLink>
        </li>
        
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
